.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}
.content {
    margin-top: 25px;
    width: 80%;
}
footer {
    /*position: absolute;*/
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
    width: 100%;
}

a {
    color: #5c605c;
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus {
    color: #1f6fb2;
}

.btn {
    margin: 4px;
}

@font-face {
    font-family: 'lacuna';
    src: url('https://kotlib.net/fonts/lacuna_regular_macroman/open-sans-v15-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
}

div {
    font-family: 'lacuna';
}
