.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}
.content {
    margin-top: 25px;
    width: 80%;
}
footer {
    /*position: absolute;*/
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
    width: 100%;
}

a, ul li a {
    font-weight: bold;
    color: #65919a;
}

a, li a, a:hover, a:focus, ul li a:hover, ul li a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus {
    color: #1f6fb2;
}

.credits {
    float: left;
    border-radius: 4px;
    border: 1px dotted #888;
    padding: 4px;
}

.btn {
    margin: 4px;
}

div {
    font-family: 'Rubik:300', sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
    font-weight: normal;
    font-size: 15px;
    color: #222;
}

b {
    font-weight: bold;
}

.table-container {
    border-radius: 4px;
    border: 1px solid #113049;
    padding: 2px;
    margin: 4px;
    width: min-content;
    float: left;
    align-content: left;
    box-shadow: 2px 2px 4px black;
}

.table {
    padding: 2px;
    margin: 0;
}
.able-striped thead th {
    background-color: transparent;
}
.table-sm tr {
    padding: 0;
    margin: 0;
}
.table-sm td {
    padding-top: 0;
    padding-bottom: 0;
}

.vr {
    border-right: 1px solid #aaa;
    display: inline;
    padding: 4px;
    margin-right: 6px;
}

h2 {
    vertical-align: text-top;
}

.progress {
    background: rgba(0, 0, 0, 0.1);
    border: 1px dashed rgba(0, 0, 0, 0.1);
    height: 24px;
}
.progress-bar {
    border:  1px solid rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.ingredient {
    height: 20px;
    margin-left: 2px;
    margin-right: 2px;
}
.throne {
    height: 80px;
    width: 80px;
    margin: 6px;
    position: relative;
    float: left;
}

img .footer-image {
    clear: both;
    opacity: 0.5;
    filter: alpha(opacity=50);
    text-align: right;
}
mark {
    color: #f2304a;
}

.diff {
    font-size: smaller;
    color: #f00;
}

.definition {
    background-color: #e3fcf8;
    color: #080;
    display: inline;
}

.geffi {
    color: #a0f;
}

.warn-incomplete {
    color: darkred;
    border: 1px solid darkred;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    background: rgba(200, 0.0, 0.0, 0.3);
}

.warn-wip {
    color: blue;
    border: 1px solid blue;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    background: rgba(0.0, 0.0, 200.0, 0.2);
}

.navbar-brand {
    color: #d0d0fe;
}

body {
    background: url("../bg/bg4.png") no-repeat fixed left top;
    background-size: 100% 100%;
}

.table-wrapper tr td {
    text-align: left;
    vertical-align: top;
}

[title] {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius:2px;
    position: relative;
}
body.touched [title] > * {
    user-select: none;
}
body.touched [title]:hover > * {
    user-select: auto
}
body.touched [title]:hover:after {
    position: absolute;
    top: 100%;
    right: -10%;
    content: attr(title);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    box-shadow: 1px 1px 3px;
    padding: 0.3em;
    z-index: 1;
}

