.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}
.content {
    margin-top: 25px;
    width: 80%;
}
footer {
    /*position: absolute;*/
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
    width: 100%;
}

a {
    font-weight: bold;
    color: #1f6ff2;
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus {
    color: #1f6fb2;
}

.credits {
    float: right;
    border-radius: 4px;
    border: 1px dotted #ddd;
    padding: 4px;
}

.btn {
    margin: 4px;
}

/*@font-face {*/
    /*font-family: 'lacuna';*/
    /*src: url('https://kotlib.net/fonts/lacuna_regular_macroman/open-sans-v15-latin-regular.woff') format('woff');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-size: 40px;*/
/*}*/

div {
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bolder;
    font-size: 15px;
    color: #222;
}

.table-container {
    border-radius: 4px;
    border: 1px solid #113049;
    padding: 2px;
    margin: 4px;
    width: min-content;
    float: left;
}

.table {
    padding: 2px;
    margin: 0;
}
.able-striped thead th {
    background-color: transparent;
}
.table-sm tr {
    padding: 0;
    margin: 0;
}
.table-sm td {
    padding-top: 0;
    padding-bottom: 0;
}

.vr {
    border-right: 1px solid #aaa;
    display: inline;
    padding: 4px;
    margin-right: 6px;
}

h2 {
    vertical-align: text-top;
}

.progress-bar {
    border:  1px solid rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
