.map-wrapper {
    background-color: #eee;
    text-align: center;
    width: min-content;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: left;
}

.map-header {
    padding-left: 4px;
    text-align: left;
}

.map-container {
    display: grid;
    grid-template-columns: repeat(7, 12px);
    grid-template-rows: repeat(4, 12px);
    grid-gap: 1px;
    padding: 4px;
    box-shadow: 2px 2px 8px #aaa;
}

.map-modifier {
    text-align: right;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 0 2px #eee;
    float: right;
    margin-right: 4px;
}
.map-modifier-gravity {
    color: darkgoldenrod;
}
.map-modifier-trampoline {
    color: hotpink;
}
.map-modifier-platform, .map-container-doubleplatform {
    color: #cc7f6d;
}

.block {
    border: 1px solid #02082C;
}
.block-0 {
    background-color: #eee;
}
.block-1 {
    background-color: #6d7fcc;
}

.list-complete-item {
    transition: all 1s;
    display: inline-block;
    margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
.list-complete-leave-active {
    position: absolute;
}

.layout-wrapper {
    border-radius: 4px;
    border: 1px solid #ddd;
    border-left: 5px solid #1f6fb2;
    background: #f4f8ff;
    padding: 8px;
    margin: 4px;
}


.exploit-wrapper {
    border-radius: 4px;
    border: 1px solid #ddd;
    border-left: 5px solid #f2304a;
    background: #f4f8ff;
    padding: 8px;
    margin: 4px;
}
