.map-wrapper {
    background-color: #eee;
    text-align: center;
    width: min-content;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    /*margin: 4px auto;*/
    float: left;
    /*justify-content: space-around;*/
    /*align-items: center;*/
}

.map-header {
    padding-left: 4px;
    text-align: left;
}

.map-container {
    display: grid;
    grid-template-columns: repeat(7, 12px);
    grid-template-rows: repeat(4, 12px);
    grid-gap: 1px;
    padding: 4px;
}

.map-modifier {
    text-align: right;
    border-radius: 4px;
    /*border: 1px solid #000;*/
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 0 2px #eee;
    float: right;
    margin-right: 4px;
}
.map-modifier-gravity {
    color: darkgoldenrod;
}
.map-modifier-trampoline {
    color: hotpink;
}
.map-modifier-platform, .map-container-doubleplatform {
    color: #cc7f6d;
}

.block {
    border: 1px solid #02082C;
    /*width: 24px;*/
    /*height: 24px;*/
}
.block-0 {
    background-color: #eee;
}
.block-1 {
    background-color: #6d7fcc;
}

/*.list-move {*/
    /*transition: transform 2s;*/
/*}*/
/*.list-enter-active {*/
    /*transition: all 2s;*/
/*}*/
/*.list-leave-active {*/
    /*transition: all 2s;*/
/*}*/
/*.list-enter, .list-leave-to, .list-leave-active {*/
    /*opacity: 0;*/
    /*!*display: none;*!*/
    /*transform: translateY(80px);*/
/*}*/

/*.list-container {*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
/*}*/

.list-complete-item {
    transition: all 1s;
    display: inline-block;
    margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
    /* .list-complete-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
}
.list-complete-leave-active {
    position: absolute;
}

.layout-wrapper {
    border-radius: 4px;
    border: 1px solid #1f6fb2;
    background: #f4f8ff;
    padding: 4px;
    margin: 4px;
}
