.map-wrapper {
    background-color: #eee;
    text-align: center;
    width: min-content;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 4px;
    float: left;
}

.map-container {
    display: grid;
    grid-template-columns: repeat(7, 16px);
    grid-template-rows: repeat(4, 16px);
    grid-gap: 1px;
    padding: 4px;
}

.block {
    border: 1px solid #4c110f;
    /*width: 24px;*/
    /*height: 24px;*/
}
.block-0 {
    background-color: #eee;
}
.block-1 {
    background-color: #cc7f6d;
}
