body {
    font-family: sans-serif;
    background: #fafafa;
}

p {
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#sidebar a, #sidebar a:hover, #sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #062F4F; /* #D58673 */
    color: #fff;
    transition: all 0.3s;
    margin-right: 25px;
    min-width: 160px;
    max-width: 160px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #052840;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #052840;
    box-shadow: -2px 4px 4px 0 #052840;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #D58673;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #b26e5e;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #cc7f6d;
}
