body {
    font-family: sans-serif;
    background: #fafafa;
}

p {
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#sidebar a, #sidebar a:hover, #sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #6a4362; /* #3a1f5b; */
    color: #fff;
    transition: all 0.3s;
    margin-right: 25px;
    min-width: 100px;
    max-width: 100px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6a4362;
}

#sidebar ul.components {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
    box-shadow: -2px 4px 4px 0 rgba(0,0,0, 0.2);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding-left: 10px;
    padding-top: 3px;
    display: block;
}
#sidebar ul li a:hover {
    color: #d0d0fe;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #d0d0fe;
    background: #f4e8d8;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f4e8d8;
}
