.trap-small-container {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #eee;
    float: left;
    margin-top: -7px;
}

.trap-small {
    margin: auto;
    text-align: center;
}

.trap-small img {
    width: 38px;
    height: 38px;
}
